.anime-page {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

.banner {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(65%);
}


.category-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding : 20px 0px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
}

.category-card {
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card img {
  width: 220px;
  height: 220px;
  border-radius: 12px;
  object-fit: cover;
}

.category-card h3 {
  margin-top: 10px;
  color: #222;
}


.sort-bar {
  display: flex;
  justify-content: flex-end;
  padding: 30px 80px 0 80px;
}

.sort-bar select {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  cursor: pointer;
  background-color: #fff;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 50px 80px;
  justify-items: center;
}

.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 320px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  margin: 15px 0 5px;
  color: #222;
  font-size: 1rem;
}

.product-card p {
  font-weight: bold;
  color: #333;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #af3828;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.product-card button:hover {
  background-color: #912c20;
}
