.sport-container {
  font-family: "Poppins", sans-serif;
  padding: 40px;
  background-color: #fafafa;
  text-align: center;
}


.category-row {
  /* display: flex; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.category-card {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card img {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  /* object-fit: cover; */
}

.category-card h3 {
  margin-top: 10px;
  color: #222;
}


.sort-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 60px 30px 0;
  font-size: 15px;
}

.sort-bar label {
  font-weight: 600;
  margin-right: 10px;
  color: #333;
}

.sort-bar select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 0 60px;
}

@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}


.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 260px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border: 1px solid #e5e5e5; /* clean look, no shadow */
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #111;
}

.product-card p {
  font-weight: bold;
  color: #333;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #af3828;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #922f22;
}
