.hoodie-container {
  padding: 30px 50px;
  font-family: "Poppins", sans-serif;
}


.category-row {
  /* display: flex; */
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.category-card {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card img {
  width: 180px;
  /* border-radius: 10px; */
}

.category-card h3 {
  /* margin-top: 10px; */
  font-size: 16px;
}


.sort-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  gap: 10px;
}

.sort-bar label {
  font-weight: 500;
}

.sort-bar select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.product-card {
  width: 90%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-card h3 {
  margin: 15px 0 5px;
  font-size: 16px;
}

.product-card p {
  font-weight: bold;
  color: #333;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #af3828;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.product-card button:hover {
  background-color: #912c20;
}
